---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import CaseStudyCard from "../components/CaseStudyCard.astro";

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: "draft",
  starts_with: "casestudies/",
  is_startpage: false,
});

const casestudies = data.stories;
---

<section
  {...storyblokEditable(blok)}
  class="max-w-[1280px] mx-auto self-stretch-flex px-4 lg:px-0 gap-2 lg:gap-8 pb-10"
>
  <ul
    class="w-full inline-flex flex-col lg:grid lg:grid-cols-2 justify-center items-center gap-6 lg:gap-8"
  >
    {
      casestudies?.length &&
        casestudies.map((item) => {
          item.content.slug = item.slug;
          return (
            <li>
              <CaseStudyCard caseStudy={item.content} />
            </li>
          );
        })
    }
  </ul>

  <a
    href="/projects"
    class="self-stretch px-5 py-2.5 rounded-[39px] border-2 border-neutral-900 justify-center items-center gap-1 lg:gap-2 inline-flex"
  >
    <div
      class="text-center text-neutral-900 text-sm font-semibold leading-normal"
    >
      All Case Studies
    </div>
    <img src="/arrow-right.svg" alt="arrow-right" />
  </a>
</section>
