---
import ArticleCard from "../components/ArticleCard.astro";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
let articles = blok.articles;
---

<article
  {...storyblokEditable(blok)}
  class="self-stretch-flex w-full px-4 lg:px-20 gap-2 py-10"
>
  <section class="self-stretch justify-start items-center gap-2 inline-flex">
    <img
      src="/corner-right.svg"
      alt="right-arrow-icon"
      class="w-6 h-6 relative"
    />
    <div
      class="grow shrink basis-0 text-zinc-800 text-base font-normal uppercase tracking-[5px] leading-relaxed"
    >
      {blok.headline}
    </div>
  </section>

  <div
    class="w-full py-8 bg-white flex-col justify-start items-center inline-flex"
  >
    <ul
      class="w-full flex-col lg:grid lg:grid-cols-3 justify-center items-center gap-8 inline-flex"
    >
      {
        articles?.length &&
          articles.map((article) => {
            article.content.slug = article.slug;
            return (
              <li>
                <ArticleCard article={article.content} />
              </li>
            );
          })
      }
    </ul>
  </div>
</article>
