---
import CaseStudyCard from "../components/CaseStudyCard.astro";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
let caseStudies = blok.casestudies;
---

<article
  {...storyblokEditable(blok)}
  class="max-w-[1280px] mx-auto self-stretch-flex px-4 lg:px-0 gap-2 py-10"
>
  <section class="self-stretch justify-start items-center gap-2 inline-flex">
    <img
      src="/corner-right.svg"
      alt="right-arrow-icon"
      class="w-6 h-6 relative"
    />
    <div
      class="grow shrink basis-0 text-zinc-800 text-base font-normal uppercase tracking-[5px] leading-relaxed"
    >
      {blok.headline}
    </div>
  </section>

  <div
    class="w-full py-8 bg-white flex-col justify-start items-center inline-flex"
  >
    <ul
      class="w-full flex-col lg:grid lg:grid-cols-2 justify-center items-center gap-8 inline-flex"
    >
      {
        caseStudies?.length &&
          caseStudies.map((caseStudy) => {
            caseStudy.content.slug = caseStudy.slug;
            return (
              <li>
                <CaseStudyCard caseStudy={caseStudy.content} />
              </li>
            );
          })
      }
    </ul>
  </div>

  <a
    href="/projects"
    class="self-stretch px-5 py-2.5 rounded-[39px] border-2 border-neutral-900 justify-center items-center gap-1 lg:gap-2 inline-flex"
  >
    <div
      class="text-center text-neutral-900 text-sm font-semibold leading-normal"
    >
      All Case Studies
    </div>
    <img src="/arrow-right.svg" alt="arrow-right" />
  </a>
</article>
