---

---

<footer
  class="w-full h-[212px] pb-20 bg-white flex-col justify-start items-center inline-flex"
>
  <div
    class="w-full h-[132px] bg-zinc-800 rounded-3xl flex-col justify-center items-center flex"
  >
    <div class="flex-col justify-start items-center gap-6 flex">
      <div class="justify-center items-start gap-8 inline-flex">
        <div class="justify-start items-start gap-2.5 flex">
          <div
            class="text-center text-white text-sm font-semibold font-['Inter'] leading-snug"
          >
            Home
          </div>
        </div>
        <div class="justify-start items-start gap-2.5 flex">
          <div
            class="text-center text-white text-sm font-semibold font-['Inter'] leading-snug"
          >
            Case studies
          </div>
        </div>
        <div class="justify-start items-start gap-2.5 flex">
          <div
            class="text-center text-white text-sm font-semibold font-['Inter'] leading-snug"
          >
            About
          </div>
        </div>
        <div class="justify-start items-start gap-2.5 flex">
          <div
            class="text-center text-white text-sm font-semibold font-['Inter'] leading-snug"
          >
            Contact
          </div>
        </div>
        <div class="justify-start items-start gap-2.5 flex">
          <div
            class="text-center text-white text-sm font-semibold font-['Inter'] leading-snug"
          >
            Terms
          </div>
        </div>
      </div>
      <div
        class="text-center text-neutral-200 text-sm font-normal font-['Inter'] leading-snug"
      >
        © 2024 Stephan Yue
      </div>
    </div>
  </div>
</footer>
