---
import Badges from "../components/Badges.astro";

const { headlines } = Astro.props;
const firstLine = headlines.headline.split(".")[0];
const secondLine = headlines.headline.split(".")[1];
---

<section
  class="flex flex-col lg:flex-row h-full lg:h-auto items-start justify-between lg:justify-start gap-4 lg:py-[64px]"
>
  <div
    class="self-stretch text-[42px] leading-[46px] lg:text-[80px] font-semibold lg:leading-[80px] w-full lg:w-3/5"
  >
    <p>{firstLine}.</p>
    <p>{secondLine}</p>
  </div>
  <div class="flex flex-col gap-6 lg:gap-4 w-full lg:w-2/5 lg:py-4">
    <div class="self-stretch text-xl leading-7 lg:text-[28px] font-semibold">
      {headlines.subheadline}
    </div>
    <Badges />
  </div>
</section>
